{% include 'partials/head.html' %}

<section id="woz-content">
  
  <div class="container">
    <table class="top-artists table table-condensed table-striped">
      <thead>
        <tr>
          <th></th>
          <th>Artist</th>
          <th>Genre</th>
          <th>Popularity</th>
        </tr>
      </thead>
      {% for artist in artists %}
        <tr>
          <td>
            <a href="{{ url_for('artist', id=artist.id, year=0, city='city') }}">
              {% if artist.images %}
                <img src="{{artist.images[0].url}}" alt="{{artist.name}}" class="badge img-circle">
              {% endif %}
            </a>
          </td>
          <td>
            <h3>
              <a href="{{ url_for('artist', id=artist.id, year=0, city='city') }}">
                {{ artist.name }}
              </a>
            </h3>
          </td>
          <td>
            <h4>
              {{ artist.genres | join(', ')}}
            </h4>
          </td>
          <td class="number">
            <h4>
              {{ artist.popularity }}
            </h4>
          </td>
        </tr>
      {% endfor %}
    </table>
</section>

{% include 'partials/foot.html' %}